// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PhoneBookAngular-primary: mat.define-palette(mat.$light-green-palette);
$PhoneBookAngular-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PhoneBookAngular-warn: mat.define-palette(mat.$light-green-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PhoneBookAngular-theme: mat.define-light-theme((
  color: (
    primary: $PhoneBookAngular-primary,
    accent: $PhoneBookAngular-accent,
    warn: $PhoneBookAngular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PhoneBookAngular-theme);

/* You can add global styles to this file, and also import other style files */
@import "styles/customItems";
@import "styles/flex";
@import "styles/markup";
@import "styles/scrollbar";
@import "styles/typography";
html, body {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
  width: 1300px;
  margin: 0 auto;
  padding: 16px 16px 0;
}

* {
  font-size: 16px;
  @media (max-width: 700px) {
    font-size: 32px;
  }
}

.button {
  background-color: #86b940;
}

mat-form-field {
  &.no-error {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}



